@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;0,900;1,400&display=swap');

/* Zerando o css padrão dos elementos */
:root {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: 62.5%;
}

* {
    color: white;
    text-decoration: none;
    list-style: none;

    box-shadow: 0;
    border: none;
}


/*========= BODY ==========*/

body {
    background: #1F1B2D;

    
    width: 100vw;
    display: flex;

    flex-direction: column;
    align-items: center;
}


/*========= NAV ==========*/

nav {
    max-width: 1296px;
    width: 80vw;
    height: 8.0rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-dark {
    width: 11.6rem;
    height: 3.2rem;
}

.divider {
    width: 2.4rem;
    height: 0;

    opacity: 0.15;

    border: 1px solid #FFFFFF;
    transform: rotate(90deg);

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.menu-nav {
    width: 513px;
    height: 24px;
    display: flex;

    align-items: center;

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;

    opacity: 0.7;   
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    margin: 1.6rem;
}

a {
    text-decoration: none;
}

.nav-right {
    display: flex;
}

#log-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    
    width: 64px;
    height: 21px;

    margin: auto 16px auto 0px;
    
    opacity: 0.7;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;

    width: 110px;
    height: 36px;
    
    background: #FD5631;
    border-radius: 8px;
}


/*========= HEADER ==========*/

header {
    max-width: 1296;
    width: 80%;
    font-family: 'Noto Sans';
    font-style: normal;
}

/* Compre e venda com facilidade. */
h1 {
    position: absolute;
    width: 52.6rem;
    height: 14.6rem;
    left: 31.2rem;
    top: 17.6rem;

    font-weight: 700;
    font-size: 5.6rem;
    line-height: 130%;
}

/* O Finder é um mercado digital líder para a indústria automotiva que conecta compradores de carros a vendedores. */
header p {
    
    position: absolute;
    width: 41.6rem;
    height: 8.1rem;
    left: 31.2rem;
    top: 35.4rem;

    font-size: 1.8rem;
    line-height: 150%;

    opacity: 0.7;
}

#orange-car {
    position: absolute;
    width: 74.6rem;
    height: 41.6rem;
    left: 86.2rem;
    top: 21.7rem;
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    position: absolute;
    width: 164px;
    height: 40px;
    left: 312px;
    top: 641px;
}

#new {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    
    width: 72px;
    height: 40px;
    
    /* white */
    
    background: #FFFFFF;
    /* shadow/large */
    
    box-shadow: 0px 4px 12px -6px rgba(31, 27, 45, 0.2), 0px 8px 16px rgba(31, 27, 45, 0.16);
    border-radius: 8px;
    
    /* Inside auto layout */

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FD5631;
}

#used {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    
    width: 80px;
    height: 40px;
    
    background: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
}

/*========== SECTION LOGOS ==========*/

.logos {
    /* Auto layout */
    max-width: 1296px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 4.8rem;
    padding: 0;
    gap: 2.4rem;    
}

.logos a {
    width: 8.6rem;
    height: 4.8rem;

    opacity: 0.4;
}

.logos a:hover{
    color: #fff;
}

/*=========== FOOTER ==========*/

footer {
    max-width: 1296px;
    width: 80%;
    height: 45.0rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;

    height: 8.0rem;
}

.footer-logo {
    margin: auto 0;
}

.lang-location {
    display: flex;
    align-items: center;

    font-size: 1.4rem;
    line-height: 2.1rem;

    color: #FFFFFF;
    opacity: 0.7;

}

.lang {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    width: 7.4rem;
    height: 2.1rem;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    width: 10.3rem;
    height: 2.1rem;
}

.footer-midle {
    margin-top: 5.6rem;
    display: flex;
    justify-content: space-between;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.12);

    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 8px;
}

.input input {
    margin: auto;
    background: rgba(255, 255, 255, 0.04);
}

.input button {
    width: 3.6rem;
    height: 3.6rem;

    background: rgba(255, 255, 255, 0.04);
}

.menu {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;

    margin-bottom: 4.8rem;
}

.contacts menu {
    display: flex;
    align-items: left;
    justify-content: center;
}

.contacts-social {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 3.6rem;
}

.contacts-social a {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 3.2rem;
    height: auto;
    padding-right: 0.8rem;
}

#messenger {
    box-shadow: 0px 4px 12px -6px rgba(31, 27, 45, 0.2), 0px 8px 16px rgba(31, 27, 45, 0.16);
}