/* Zerando o css padrão dos elementos */

:root {
    font-size: 62.5%;
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #fff;
    text-decoration: none;
}

body {
    width: 100vw;

    /* gray/900 */
    background: #1F1B2D;
}

.logos {
    /* Auto layout */
    max-width: 1296px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 4.8rem;
    padding: 0;
    gap: 2.4rem;    
}

.logos a {
    width: 8.6rem;
    height: 4.8rem;

    opacity: 0.4;
}

.logos a:hover{
    color: #fff;
}