* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: #fff;
}

body {
    background: #1F1B2D;
}

header {
    width: 50%;
    font-family: 'Noto Sans';
    font-style: normal;
}

/* Compre e venda com facilidade. */
h1 {
    position: absolute;
    width: 526px;
    height: 146px;
    left: 312px;
    top: 176px;

    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
}

header p {
    /* O Finder é um mercado digital líder para a indústria automotiva que conecta compradores de carros a vendedores. */
    position: absolute;
    width: 416px;
    height: 81px;
    left: 312px;
    top: 354px;

    /* large/regular */
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    opacity: 0.7;
}

#orange-car {
    position: absolute;
    width: 746px;
    height: 416px;
    left: 862px;
    top: 217px;

    background: url(car.png);
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    position: absolute;
    width: 164px;
    height: 40px;
    left: 312px;
    top: 641px;
}

#new {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    
    width: 72px;
    height: 40px;
    
    /* white */
    
    background: #FFFFFF;
    /* shadow/large */
    
    box-shadow: 0px 4px 12px -6px rgba(31, 27, 45, 0.2), 0px 8px 16px rgba(31, 27, 45, 0.16);
    border-radius: 8px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FD5631;
}

#used {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 10px;
    
    width: 80px;
    height: 40px;
    
    background: rgba(255, 255, 255, 0.04);
    border-radius: 8px;
}

.input-group {
    box-sizing: border-box;
    position: absolute;
    width: 1296px;
    height: 68px;
    left: 312px;
    top: 705px;

    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 8px;
}

.inputs {
    display: flex;
}

.input-group button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    gap: 10px;

    position: absolute;
    width: 142px;
    height: 52px;
    right: 8px;
    top: calc(50% - 52px/2);

    background: #FD5631;
    border-radius: 8px;
}