@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;0,900;1,400&display=swap');

/* Zerando o css padrão dos elementos */
:root {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: 62.5%;
}

* {
    color: white;
    text-decoration: none;
    list-style: none;

    box-shadow: 0;
    border: none;
}

body {
    background: #1F1B2D;
    width: 99vw;
}

/* Footer */
footer {
    width: 80vw;
    height: 45.0rem;

    margin: auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;

    height: 8.0rem;
}

.footer-logo {
    margin: auto 0;
}

.lang-location {
    display: flex;
    align-items: center;

    font-size: 1.4rem;
    line-height: 2.1rem;

    color: #FFFFFF;
    opacity: 0.7;

}

.lang {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    width: 7.4rem;
    height: 2.1rem;
}

.location {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    width: 10.3rem;
    height: 2.1rem;
}

.divider {
    opacity: 0.15;
    border: 1px solid #FFFFFF;
}

.footer-midle {
    margin-top: 5.6rem;
    display: flex;
    justify-content: space-between;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.12);

    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 8px;
}


.input input {
    margin: auto;
    background: rgba(255, 255, 255, 0.04);
}

.input button {
    width: 3.6rem;
    height: 3.6rem;

    background: rgba(255, 255, 255, 0.04);
}

.menu {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;

    margin-bottom: 4.8rem;
}

.contacts menu {
    display: flex;
    align-items: left;
    justify-content: center;
}

.contacts-social {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 3.6rem;
}

.contacts-social a {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 3.2rem;
    height: auto;
    padding-right: 0.8rem;
}

#messenger {
    box-shadow: 0px 4px 12px -6px rgba(31, 27, 45, 0.2), 0px 8px 16px rgba(31, 27, 45, 0.16);
}