



*{
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    width: 1920px;
    height: 5221px;

    /* gray/900 */
    background: #1F1B2D;
}

/* Navbar/cars */
nav {
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 0px;
}

/* logo/dark */
.logo-dark {
    position: absolute;
    width: 116px;
    height: 32px;
    left: 312px;
    top: calc(50% - 32px/2);
}

/* menu */
.menu {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    
    position: absolute;
    width: 513px;
    height: 24px;
    left: 484px;
    top: calc(50% - 24px/2);
}

/* right */
.right {
   /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 206px;
    height: 36px;
    right: 312px;
    top: calc(50% - 36px/2);
}




/* Header */
.header {
    position: absolute;
    width: 1920px;
    height: 773px;
    left: 0px;
    top: 0px;
}


/* Types */
.types {
    position: absolute;
    width: 1296px;
    height: 412px;
    left: 312px;
    top: 845px;
}



/* Top-offers */
.top-offers {
    position: absolute;
    width: 1296px;
    height: 570px;
    left: 312px;
    top: 1329px;
}

/* Logos */
.logo {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    position: absolute;
    width: 1296px;
    height: 48px;
    left: 312px;
    top: 1995px;
}

/* Features */
.features {
    position: absolute;
    width: 1296px;
    height: 524px;
    left: 312px;
    top: 2139px;
}

/* Latest-cars */
.latest-cars {
    position: absolute;
    width: 1392px;
    height: 586px;
    left: 264px;
    top: 2735px;
}

/* Banner */
.banner {
    position: absolute;
    width: 1296px;
    height: 355px;
    left: 312px;
    top: 3393px;
}


/* App */
.app {
    position: absolute;
    width: 1076px;
    height: 440px;
    left: 422px;
    top: 3781px;
}


/* Blog */
.blog {
    position: absolute;
    width: 1296px;
    height: 390px;
    left: 312px;
    top: 4293px;
}


/* Footer */
footer {
    position: absolute;
    width: 1920px;
    height: 458px;
    left: 0px;
    top: 4763px;

    background: linear-gradient(0deg, rgba(69, 64, 86, 0.2), rgba(69, 64, 86, 0.2)), #1F1B2D;
}

.logo-dark-footer {
    position: absolute;
    width: 116px;
    height: 32px;
    left: 312px;
    top: 24px;
}

/* footer - lang-location */
.lang-location {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    position: absolute;
    width: 201px;
    height: 21px;
    right: 312px;
    top: 30px;
}

.lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    
    width: 74px;
    height: 21px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 103px;
    height: 21px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;    
}

/* footer - divider */
.divider {
    position: absolute;
    height: 0px;
    left: 0%;
    right: 0%;
    top: 80px;
    
    opacity: 0.15;

    /* white */
    border: 1px solid #FFFFFF;
}


/* footer - subscribe */
.subscribe {
    position: absolute;
    width: 306px;
    height: 139px;
    left: 312px;
    top: 136px;
}

/* Inscreva-se na newsletter */
.subscribe > h2 {
    position: absolute;
    width: 306px;
    height: 30px;
    right: 1302px;
    top: 136px;

    /* lead/bold */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;

    /* identical to box height, or 30px */
    display: flex;
    align-items: center;

    /* white */
    color: #FFFFFF;
}

/* Não perca nenhuma oferta relevante! */
.subscribe > p {
    position: absolute;
    width: 247px;
    height: 21px;
    right: 1361px;
    top: 178px;

    /* small/regular */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    /* identical to box height, or 21px */
    display: flex;
    align-items: center;

    /* white */
    color: #FFFFFF;

    opacity: 0.7;
}


/* footer - subscribe - input-group */
.input-group {
    box-sizing: border-box;

    position: absolute;
    width: 306px;
    height: 52px;
    left: 312px;
    top: 223px;

    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 8px;
}

.input-group > button {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 262px;
    top: 8px;
}

.input-group > input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 145px;
    height: 21px;
    left: 16px;
    top: 15px;

    opacity: 0.5;
}

/* footer - buy-sell */
.buy-sell {
    position: absolute;
    width: 156px;
    height: 157px;
    left: 752px;
    top: 136px;
}

.buy-sell-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 78px;
    height: 121px;
    left: 752px;
    top: 172px;

    opacity: 0.7;
}

.buy-sell > h3 {
    position: absolute;
    width: 156px;
    height: 24px;
    left: 752px;
    top: 136px;

    /* base/bold */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    display: flex;
    align-items: center;

    /* white */

    color: #FFFFFF;
}

/* footer - about */
.about {
    position: absolute;
    width: 78px;
    height: 157px;
    left: 972px;
    top: 136px;
}

.about-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 78px;
    height: 121px;
    left: 972px;
    top: 172px;

    opacity: 0.7;
}

.about > h3 {
    position: absolute;
    width: 46px;
    height: 24px;
    left: 972px;
    top: 136px;

    /* base/bold */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    display: flex;
    align-items: center;

    /* white */

    color: #FFFFFF;
}

/* footer - profile */
.profile {
    position: absolute;
    width: 78px;
    height: 132px;
    left: 1192px;
    top: 136px;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 78px;
    height: 96px;
    left: 1192px;
    top: 172px;

    opacity: 0.7;
}

.profile > h3 {
    position: absolute;
    width: 43px;
    height: 24px;
    left: 1192px;
    top: 136px;

    /* base/bold */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    display: flex;
    align-items: center;

    /* white */

    color: #FFFFFF;
}

/* footer - contacts */
.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 178px;
    height: 120px;
    left: 1412px;
    top: 136px;
}

.contacts-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 178px;
    height: 56px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.contacts-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 152px;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#facebook {
    width: 32px;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#twitter {
    width: 32px;
    height: 32px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

#telegram {
    width: 32px;
    height: 32px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

#messenger {
    width: 32px;
    height: 32px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}

/* footer - menu-secondary */
.menu-secondary {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 269px;
    height: 21px;
    right: 312px;
    bottom: 48px;

    opacity: 0.7;
}

#terms-of-use {
    width: 97px;
    height: 21px;
    
    /* small/regular */
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    display: flex;
    align-items: center;
    
    /* white */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

#privacy-policy {
    width: 148px;
    height: 21px;

    /* small/regular */

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    display: flex;
    align-items: center;

    /* white */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}